# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
.venv/
venv/
env/

# Django
*.log
local_settings.py
db.sqlite3
media/

# Environment variables
.env
.env.*
!.env.example

# Node
lager-frontend/node_modules/
lager-frontend/dist/

# Ruff / linting
.ruff_cache/

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
*.swo

#old LM
lagerManager

.timetracker

typings
notes.md
